<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Modifier un prospect</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
   </head>
   <body>
      <h1>Modifier un prospect :</h1>
      
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->
         
      <form th:action="@{/saveProspect}" 
         th:object="${prospect}" method="POST">
         <input type="hidden"  th:field="*{id}" />    
         <br/>
         Nom :
         <input type="text" th:field="*{nom}" />    
         <br/>
         Numéro de siret :
         <input type="text" th:field="*{numerosiret}" />     
         <br/>
         Adresse postale :
         <input type="text" th:field="*{adressepostale}" />  
         <br/>
         Code postal :
         <input type="text" th:field="*{codepostal}" />  
         <br/>
         Ville :
         <input type="text" th:field="*{ville}" />  
         <br/>
         <input type="submit" value="Modifier le prospect" />
      </form>
      
      <br/>
      
      <!-- Check if errorMessage is not null and not empty -->
      
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
   </body>
</html>